# Requirements for streamlit
streamlit
streamlit_pandas_profiling
pandas >= 1.5.3
ydata_profiling
geopandas >= 0.14.0
folium >= 0.14.0
matplotlib == 3.4.0
seaborn >= 0.12.2
numpy >=1.21.0
plotly.express
scikit-learn