# Requirements for streamlit
streamlit >= 1.27.2
streamlit_pandas_profiling
pandas >= 1.5.3
ydata_profiling
geopandas >= 0.14.0
folium >= 0.14.0
matplotlib == 3.7.1
seaborn >= 0.12.2
numpy
plotly.express