pandas
numpy==1.25.5
ydata_profiling
matplotlib
string
unidecode
ipywidgets
nltk
pyspellchecker
textblob
spacy
scikit-learn==1.2.2
seaborn==0.12.2
plotly
keras_preprocessing==1.1.2
dash
category_encoders==2.6.2
lazypredict
tensorflow
pydot
graphviz
bs4
requests